i {
  cursor: pointer;
}

div:not(.placeholder) {
  display: inline-block;
  vertical-align: super;

  &.dropdown button {
    margin-top: -5px;
  }
}

.placeholder {
  width: 22px;
  height: 15px;
}

.dropdown, .placeholder {
  display: inline-block;

  .dropdown-toggle {
    background: none;
  }

  li {
    cursor: pointer;
  }
}
