<div class="header-item first" [ngStyle]="{'background-color': settings.color}">#</div>
<div *ngFor="let headerItem of header; let index = index"
     [ngStyle]="{
       'background-color': settings.color,
       'border-color': headerItem.active ? settings.highlightColor : '#888'
     }"
     [ngClass]="{active: headerItem.active, 'header-hidden': headerItem.hidden}"
     (mouseover)="onHover(index)"
     class="header-item">
  <div class="header-title">
    <span *ngIf="!headerItem.hidden"
          [attr.contenteditable]="settings.editable">
    {{ headerItem.label || '&nbsp;'}}
  </span>
  </div>
  <div class="header-actions">
    <header-actions [headerItem]="headerItem"
                    [hoverIndex]="hoverIndex"
                    [index]="index"
                    (hideColumn)="hideColumn.next($event)"
                    (toggleColumn)="toggleColumn($event.index, $event.hidden)"
                    (removeColumn)="removeColumn.next($event)">
    </header-actions>
  </div>
</div>
<button (click)="newColumn.next()"
        type="button"
        class="btn btn-xs">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>
